{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}



    
    <div style={
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;}><h1 > welcome to our site!</h1></div>

    
   
</div>
{% endblock %}
